<ion-view view-title="home">
 <ion-content>
 <div class="list-card">
 <div class="item item-avatar">
 <img ng-src="../img/employee.png" alt="Bussiness Image">
 <h2>User</h2>
<p>Dedicated User</p>

 </div>
 <div class="item item-body">
<img ng-src="../img/pointer.png" alt="" class="full-image">
<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
    <p>
      <button class="button button-balanced">
      <i class="subdued">Donate</i>
    </button>
      <button class="button button-calm" ng-click="show()">
       <i class="subdued">Share</i>
     </button>
   </p>

 </div>


 </div>


 </ion-content>
 </ion-view>
