<ion-view  >
<ion-content>
<button class="button button-royal button-full" ng-click="facebookLogin()">
Login Using Facebook


</button>
<button class="button button-positive button-full" ng-click="googleLogin()">
Login Using Google


</button>
<button class="button button-asertive button-full" ng-click="linkedLogin()">
Login Using LinkedIn


</button>
<button class="button button-balanced button-full" ng-click="githubLogin()">
Login Using Github


</button>
<input type="text" value="{{fb_data}}">

</ion-content>

</ion-view>
