 <ion-view view-title="misc">
 <ion-content>
     

   <div class="card">
	<div class="item item-text-warp">
        <!-- camera buttons -->
        <button class = "button" ng-click = "takePicture()">Take Picture</button>
        <button class = "button" ng-click = "getPicture()">Open Gallery</button>
      <!--   <button class="button" ng-click="openCitrus()">Open Citrus</button> -->
        <img ng-src = "{{picture}}" >
      <!-- Camera -->

	</div>


   </div>



 </ion-content>
</ion-view>